page-login {

}
.bg-style{
    
    // background-image: url("../../assets//imgs/background-image.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center; 
     background-color: #ff4500;
}
.card-background-page {
    background: rgba(255, 255, 255, 0.7);
}
.card-title {
    background: rgba(255, 255, 255, 0.5);
}
.subtitle {
    width: 250px;
}
.bgfc{
    height: 20px;
}