page-restaurant {

}
.img-bg{
    border-radius: 2px;
    height: auto;
    width: 95%;
    // margin-top: 0.5rem;
} 
.danger4{ 
    text-align: left; 
}
.text-ag1{
    margin-top: 10px;
    font-size: 18px;  
}
.text-ag2{  
    margin-top: -12px;
    font-size: 16px;
} 
.text-ag3{
    margin-top: -17px;
    font-size: 14px;
}
