.tabbar a[aria-selected=true] {
    border-top: 1px;
    border-style: solid;   
    color: #ff4500 !important;
}
.tab-button[aria-selected=true] .tab-button-icon {
    color: #ff4500 !important;
}

ion-navbar{ 
    text-align: center;
    background-color: #ff6600;
    color: #ff6600;
}
ion-header{
    .back-button-md,
    .back-button-ios {
        color: #ffffff;
    }
}
.toolbar-background {
    background-color: #f4f4f4;
  }

@font-face {
    font-family: 'RSU_Regular';
    src: url('../assets/fonts/RSU_Regular.ttf') 
}
*{
    font-family: RSU_Regular;
}